.footerSection {
  color: $instructorBioTextColor;
	background-image: url($footerHeroImage);
	height: 672px;
  & article {
    height: 546px;
    @include clearfix();
    & .classDetails {
      float: left;
      width: 50%;
      height: 546px;
      margin: 141px auto 0px;
      color: $footerTextColor;
      font-family: $robotoLight;
      font-size: 36px;
      line-height: 45px;
      padding-left: 92px;
      & p.extraMargin {
        margin-bottom: 20px;
      }
    }
    & .CTAContainer {
      width: 50%;
      float: right;
      height: 546px;
      & > a {
        @include vertical-align();
        display: block;
        text-align: center;
        width: 327px;
        height: 98px;
        color: #fff;
        font-size: 29.9px;
        padding: 20px;
        font-family:  $robotoBold;
        border: 2px solid #fff;
      }
    }
    & footer {
      height: $footerHeight;
      margin: auto;
      margin-bottom: 0;
      text-align: left;
      & > a {
        float: left;
        margin-left: 32px;
        margin-bottom: 33px;
        margin-right: 20px;
      }
      & > address {
        @include vertical-align();
        font-size: 14px;
        line-height: 16px;
        font-family: $robotoRegular;
      }
    }
    }
  }
