*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul {
	@include list-reset();
	li {
		float: left;
	}
}

/* phone */
@include max-down(20em) {
	section, .courseGoalsList {
		width: 100%;
		@include clearfix();
	}

	.courseGoalsList li {
		width: 100%;
		margin: 0px;
		padding: 5px;
    &:nth-child(n+1) {
  		clear: left;
  	}
	}
}

/* tablet */
@include min-max(24em, 48em) {
	section, .courseGoalsList {
		width: 100%;
		@include clearfix();
	}
	.courseGoalsList li:nth-child(2n+1) {
		clear: left;
	}
	.courseGoalsList li {
		width: 45%;
		margin: 5px;
		padding: 5px;
	}
	.colearnersList > li {
		width: calc(50% - 74px);
		margin: 35px 21px;
		&:nth-child(2n+2) {
			// last column
			margin-right: 84px;
		}
		&:nth-child(2n+1) {
			// first column
			margin-left: 84px;
			clear: left;
		}
		&:last-child {
			// last item to set bottom margin
			margin-bottom: 135px;
		}
	}
}

/* desktop,etc */
@include min-up(48em) {
	section {
		max-width: 1190px;
		margin: 0 auto;
		@include clearfix();
	}
	.courseGoalsList {
		& li {
			width: calc(33% - 72px);
			margin: 0px 53px 101px 0px;
			padding: 5px;
			&:nth-child(3n+3) {
				// last column
				margin-right: 55px;
			}
			&:nth-child(3n+1) {
				// first column
				margin-left: 55px;
				clear: left;
			}
			&:last-child {
				// last item to set bottom margin
				margin-bottom: 155px;
			}
		}
	}
	.colearnersList > li {
		width: calc(100%/6);
		margin: 35px 21px;
		&:nth-child(4n+4) {
			// last column
			margin-right: 84px;
		}
		&:nth-child(4n+1) {
			// first column
			margin-left: 84px;
			clear: left;
		}
		&:last-child {
			// last item to set bottom margin
			margin-bottom: 135px;
		}
	}
}
