.topSection {
	background-image: url($topHeroBackgroundImage);
	height: 640px;
}

.mainLogo {
	margin-left: 34px;
	margin-top: 18px;
}

nav {
	float: right;
	margin-top: 35px;
	margin-right: 35px;
	li {
		margin: 28px;
	}
	a {
		text-decoration: none;
		font-family: $robotoMedium;
		font-size: 18px;
		color: $navigationTextColor;
	}
}

//
// --- Menu Button --------------------------
//

.menu-btn {
	position: absolute;
	top: 0.75rem;
	right: 1.25rem;
	z-index: 999;
	display: block;
	margin: 0;
	padding: 0;
	width: 41px;
	height: 36px;
	border: none;
	background: none;
	outline: none;
	cursor: pointer;

  // Hidden at larger screen
  @include min-up($navSwitchWidth) {
    display: none;
  }

	span {
    @include hide-text;
		position: relative;
		top: 0;
		margin: 0 auto;
		width: 30px;
		height: 3px;
		background: #FFF;
		overflow: hidden;
		opacity: 1;
		transition: all 0.1s ease-out;

		.nav-shown & {
			opacity: 0;
			transform: scale(0);
		}
	}

	&::before, &::after {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 30px;
		height: 3px;
		background: #FFF;
		transition: all 0.1s ease-out;
	}

	&::before {
		top: 8px;

		.nav-shown & {
			top: 18px;
			transform: rotate(135deg);
		}
	}

	&::after {
		bottom: 7px;

		.nav-shown & {
			bottom: 15px;
			transform: rotate(-135deg);
		}
	}
}

.mainHeader {
	font-family:$robotoThin;
	font-size: 92px;
	line-height: 107px;
	color: $mainHeaderTextColor;
	text-align:center;
	margin-bottom: 0;
}

.classDates {
	font-size: 24px;
	color: $classDatesTextColor;
	font-family: $robotoLight;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 22px;
	&::after {
		content: "";
		display: block;
		margin: 10px auto;
		width: 45px;
		height: 30px;
		background-image: url($dividerImage);
		background-position: center;
		background-repeat: no-repeat;
	}
}
