/*-------------------------------------------
	Clearfix
-------------------------------------------*/

// Clearing Floats >> Apply to container element
@mixin clearfix() {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

/*-------------------------------------------
	Media Queries
-------------------------------------------*/

// Anything device width that is equal to or wider than $min value
@mixin min-up($min) {
	@media only screen and (min-width: $min) { @content; }
}

// Anything device width that is equal to or skinnier than $max value
@mixin max-down($max) {
	@media only screen and (max-width: $max) { @content; }
}

// Anything device width between these two values
@mixin min-max($min, $max) {
	@media only screen and (min-width: $min) and (max-width: $max) { @content; }
}

/*
	Personal Usage Note:
	max-down always ends with #.999 or #.#999 >> so 47.999em instead of 48em
	min-up is always a whole number >> 48em
	to avoid overlapping/overriding styles
*/
