/* CSS Document */
*, *::before, *::after {
	box-sizing: border-box; 
	margin: 0;
	padding: 0;
}
@font-face {
  font-family: "Roboto-Thin";
  src: url("fonts/Roboto-Thin.ttf");
}
@font-face {
  font-family: "Roboto-Light";
  src: url("fonts/Roboto-Light.ttf");
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("fonts/Roboto-Bold.ttf");
}
section {
	width: 1190px;  
	margin: 0 auto; 
	overflow: auto; 
}

.topSection { 
	background-image: url('images/hero.jpg');
	height: 640px;
}

.mainLogo {
	margin-left: 34px;
	margin-top: 18px;
}

ul {
	list-style: none; 
}

ul li { 
	float: left;
}

nav { 
	float: right; 
	margin-top: 35px; 
	margin-right: 35px;
}

nav li { 
	margin: 28px;
}

nav a { 
	font-family: "Roboto-Medium";
	text-decoration: none; 
	font-size: 18px; 
	color: #fff;
	line-height: 21px;
}

.mainHeader { 
	font-family: "Roboto-Thin"; 
	font-size: 92px; 
	line-height: 107px; 
	color: #fff; 
	text-align:center;
}

.classDates { 
	font-family: "Roboto-Light";
	font-size: 24px; 
	color: #fff; 
	text-align: center; 
	margin-top: 5px; 
	margin-bottom: 22px;
}

.classDates::after {
	content: "";
	display: block;
	margin: 10px auto;
	width: 45px;
	height: 30px;
	background-image: url('images/divider.svg');
	background-position: center;
	background-repeat: no-repeat;
}
.introText {
	font-family: "Roboto-Light";
	color: #C3BFBF;
	font-size: 32px;
	text-align: center;
	margin: 0 auto;
	margin-top: 150px;
	width: 844px;
	padding: 20px;
}
.introText::after {
	content: "";
	display: block;
	margin: 0 auto;
	margin-top: 77px;
	margin-bottom: 127px;
	width: 556px;
	height: 30px;
	background-image: url('images/divider.svg');
	background-repeat: no-repeat;
}
.courseGoalsHeadline {
	font-family: "Roboto-Medium";
	color: #777;
	font-size: 28px;
	text-transform:uppercase;
	text-align: center;
	margin-bottom: 69px;
}

.courseGoalsList li { 
	font-family: "Roboto-Bold";
	color: #777;
	font-size: 16px;
	line-height: 18px;
	width: 295px; 
	margin-right: 53px; 
	margin-bottom: 101px;
	padding: 5px;
}

.courseGoalsList li:nth-child(3n+1) {
	clear: left;
	margin-left: 55px;
}

.courseGoalsList li:nth-child(3n+3) {
	margin-right: 53px;
}

.courseGoalsList p { 
	font-size: 18px;
}
.colearnersSection { margin-top: 49px;}

.colearnersSection header h1 { 
	text-transform:uppercase;
}
.colearnersSection li:nth-child(4n+1) {
	clear: left;
}
.colearnersList li { 
	width: 220px; 
	height: 300px;  
	margin: 5px; 
	padding: 5px; 
}

.colearnersList li h2 { 
	text-align: center; 
	font-size: 1rem;
}

.colearnersList li i {
	position: relative; 
	bottom: 0;
}

.imageWrapper { 
	width: 200px; 
	margin: 0 auto;
}

.embeddedVideo { 
	padding: 0; 
	width: 640px; 
	margin: 0 auto;
}

.instructorBio { 
	width: 50%; 
	position: relative; 
	left: 0;
}
.socialMediaLinks { width: 200px; margin: 0 auto; display: block;}
.socialMediaLinks > li {
  display: inline-block;
  width: 22px;
  height: 20px;
  background-image: url("images/slice.png");
  background-repeat: no-repeat;
  text-indent: 100%;
  white-space: no-wrap;
  overflow: hidden;
}
.twitter {
  background-position: 1px 2px;
}

.facebook {
  background-position: -33px 2px;
}

.dribble {
  background-position: -69px 2px;
}

.linkedin {
  background-position: -104px 2px;
}