/* Variables */
@font-face {
  font-family: 'robotoBold';
  src: url("/fonts/robotoBold.woff2") format("woff2"), url("/fonts/robotoBold.woff") format("woff"), url("/fonts/robotoBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotoLight';
  src: url("/fonts/robotoLight.woff2") format("woff2"), url("/fonts/robotoLight.woff") format("woff"), url("/fonts/robotoLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotoLightItalic';
  src: url("/fonts/robotoLightItalic-webfont.woff2") format("woff2"), url("/fonts/robotoLightItalic.woff") format("woff"), url("/fonts/robotoLightItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotoMedium';
  src: url("/fonts/robotoMedium.woff2") format("woff2"), url("/fonts/robotoMedium.woff") format("woff"), url("/fonts/robotoMedium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotoRegular';
  src: url("/fonts/robotoRegular.woff2") format("woff2"), url("/fonts/robotoRegular.woff") format("woff"), url("/fonts/robotoRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotoThin';
  src: url("/fonts/robotoThin.woff2") format("woff2"), url("/fonts/robotoThin.woff") format("woff"), url("/fonts/robotoThin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/*-------------------------------------------
	Clearfix
-------------------------------------------*/
/*-------------------------------------------
	Media Queries
-------------------------------------------*/
/*
	Personal Usage Note:
	max-down always ends with #.999 or #.#999 >> so 47.999em instead of 48em
	min-up is always a whole number >> 48em
	to avoid overlapping/overriding styles
*/
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }
  ul li {
    float: left; }

/* phone */
@media only screen and (max-width: 20em) {
  section, .courseGoalsList {
    width: 100%; }
  .courseGoalsList li {
    width: 100%;
    margin: 0px;
    padding: 5px; }
    .courseGoalsList li:nth-child(n+1) {
      clear: left; } }

/* tablet */
@media only screen and (min-width: 24em) and (max-width: 48em) {
  section, .courseGoalsList {
    width: 100%; }
  .courseGoalsList li:nth-child(2n+1) {
    clear: left; }
  .courseGoalsList li {
    width: 45%;
    margin: 5px;
    padding: 5px; } }

/* desktop,etc */
@media only screen and (min-width: 48em) {
  section {
    width: 1190px;
    margin: 0 auto;
    overflow: auto; }
  .courseGoalsList li {
    width: 324px;
    margin: 0px 53px 101px 0px;
    padding: 5px; }
    .courseGoalsList li:nth-child(3n+3) {
      margin-right: 55px; }
    .courseGoalsList li:nth-child(3n+1) {
      margin-left: 55px;
      clear: left; }
    .courseGoalsList li:last-child {
      margin-bottom: 155px; } }

.topSection {
  background-image: url("../../images/hero.jpg");
  height: 640px; }

.mainLogo {
  margin-left: 34px;
  margin-top: 18px; }

nav {
  float: right;
  margin-top: 35px;
  margin-right: 35px; }
  nav li {
    margin: 28px; }
  nav a {
    text-decoration: none;
    font-family: "robotoMedium", Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #fff; }

.mainHeader {
  font-family: "robotoThin", Helvetica, Arial, sans-serif;
  font-size: 92px;
  line-height: 107px;
  color: #fff;
  text-align: center;
  margin-bottom: 0; }

.classDates {
  font-size: 24px;
  color: #fff;
  font-family: "robotoLight", Helvetica, Arial, sans-serif;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 22px; }
  .classDates::after {
    content: "";
    display: block;
    margin: 10px auto;
    width: 45px;
    height: 30px;
    background-image: url("../../images/divider.png");
    background-position: center;
    background-repeat: no-repeat; }

.introText {
  color: #C3BFBF;
  font-family: "robotoLight", Helvetica, Arial, sans-serif;
  font-size: 32px;
  text-align: center;
  margin: 150px auto 0;
  width: 844px;
  padding: 20px; }
  .introText::after {
    content: "";
    display: block;
    margin: 77px auto 127px;
    width: 100%;
    height: 30px;
    background-image: url("../../images/divider.png");
    background-position: center;
    background-repeat: no-repeat; }

.courseGoalsHeadline {
  color: #777;
  font-family: "robotoMedium", Helvetica, Arial, sans-serif;
  font-size: 28px;
  line-height: 33px;
  text-transform: uppercase;
  text-align: center; }

.courseGoalsList {
  color: #777; }
  .courseGoalsList p {
    font-size: 16px;
    line-height: 18px;
    font-family: "robotoRegular", Helvetica, Arial, sans-serif; }
  .courseGoalsList h2 {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    font-family: "robotoBold", Helvetica, Arial, sans-serif; }

.colearnersSection header h1 {
  text-transform: uppercase; }

.colearnersSection li:nth-child(4n+1) {
  clear: left; }

.colearnersList li {
  width: 220px;
  height: 300px;
  margin: 5px;
  padding: 5px; }

.colearnersList li h2 {
  text-align: center;
  font-size: 1rem; }

.colearnersList li i {
  position: relative;
  bottom: 0; }

.socialMediaLinks {
  width: 200px;
  margin: 0 auto;
  display: block; }

.socialMediaLinks > li {
  display: inline-block;
  width: 22px;
  height: 20px;
  background-image: url("../../images/slice.png");
  background-repeat: no-repeat;
  text-indent: 100%;
  white-space: no-wrap;
  overflow: hidden; }

.twitter {
  background-position: 1px 2px; }

.facebook {
  background-position: -33px 2px; }

.dribble {
  background-position: -69px 2px; }

.linkedin {
  background-position: -104px 2px; }

.instructorBio {
  width: 50%;
  position: relative;
  left: 0; }

.instructorBioSection {
  color: #fff;
  background-image: url("../../images/instructor.jpg");
  height: 701px; }

.quoteSection {
  height: 626px; }
  .quoteSectionblockquote {
    width: 903px;
    margin: 0 auto; }

.footerSection {
  color: #fff;
  background-image: url("../../images/footer.jpg");
  height: 672px; }

/*
.embeddedVideo {
	padding: 0;
	width: 640px;
	margin: 0 auto;
}
*/
