/* Variables */
$navigationTextColor: #fff;
$mainHeaderTextColor: #fff;
$classDatesTextColor: #fff;
$introTextColor: #C3BFBF;
$courseGoalsTextColor: #777;
$instructorBioTextColor: #fff;
$topHeroBackgroundImage: '../../images/hero.jpg';
$dividerImage: '../../images/divider.png';

// partials
@import 'partials/_fonts';
@import 'partials/_mixins';
@import 'partials/_general';
@import 'partials/_header';
@import 'partials/_classIntroSection';
@import 'partials/_courseGoalsSection';
@import 'partials/_coLearnersSection';
@import 'partials/_instructorBioSection';
@import 'partials/_quoteSection';
@import 'partials/_footer';

/*
.embeddedVideo {
	padding: 0;
	width: 640px;
	margin: 0 auto;
}
*/
