/* Variables */
@import 'partials/_fonts';

$navigationTextColor: #fff;
$mainHeaderTextColor: #fff;
$classDatesTextColor: #fff;
$introTextColor: #C3BFBF;
$courseGoalsTextColor: #777;

*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.topSection {
	background-image: url('../../images/hero.jpg');
	height: 640px;
}

.mainLogo {
	margin-left: 34px;
	margin-top: 18px;
}

ul {
	list-style: none;
}

ul li {
	float: left;
}


nav {
	float: right;
	margin-top: 35px;
	margin-right: 35px;
}

nav li {
	margin: 28px;
}

nav a {
	text-decoration: none;
	font-size: 18px;
	color: $navigationTextColor;
}


/* phone */
@media only screen and (max-width: 20em) {

	section, .courseGoalsList {
		width: 100%;
	}
	.courseGoalsList li:nth-child(n+1) {
		clear: left;
	}
	.courseGoalsList li {
		width: 100%;
		margin: 0px;
		padding: 5px;
	}
}

/* tablet */
@media only screen and (max-width: 48em) {
	section, .courseGoalsList {
		width: 100%;
	}
	.courseGoalsList li:nth-child(2n+1) {
		clear: left;
	}
	.courseGoalsList li {
		width: 45%;
		margin: 5px;
		padding: 5px;
	}
}

/* desktop,etc */
@media only screen and (min-width: 48em) {
	section {
		width: 1190px;
		margin: 0 auto;
		overflow: auto;
	}
	.courseGoalsList li:nth-child(3n+1) {
		clear: left;
	}
	.courseGoalsList li {
		width: 250px;
		margin: 5px;
		padding: 5px;
	}
}

.mainHeader {
	font-family:$robotoThin;
	font-size: 92px;
	line-height: 107px;
	color: $mainHeaderTextColor;
	text-align:center;
	margin-bottom: 0;
}

.classDates {
	font-size: 24px;
	color: $classDatesTextColor;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 22px;
}

.classDates::after {
	content: "";
	display: block;
	margin: 10px auto;
	width: 45px;
	height: 30px;
	background-image: url('../../images/divider.png');
	background-position: center;
	background-repeat: no-repeat;
}
.introText {
	color: $introTextColor;
	font-size: 32px;
	text-align: center;
	margin: 150px auto 0;
	width: 844px;
	padding: 20px;
}
.courseGoalsHeadline {
	color:$courseGoalsTextColor;
	font-size: 28px;
	text-transform:uppercase;
	text-align: center;
}


.courseGoalsList p {
	font-size: 18px;
}

.colearnersSection header h1 {
	text-transform:uppercase;
}
.colearnersSection li:nth-child(4n+1) {
	clear: left;
}
.colearnersList li {
	width: 220px;
	height: 300px;
	margin: 5px;
	padding: 5px;
}

.colearnersList li h2 {
	text-align: center;
	font-size: 1rem;
}

.colearnersList li i {
	position: relative;
	bottom: 0;
}

.imageWrapper {
	width: 200px;
	margin: 0 auto;
}

.embeddedVideo {
	padding: 0;
	width: 640px;
	margin: 0 auto;
}

.instructorBio {
	width: 50%;
	position: relative;
	left: 0;
}
.socialMediaLinks { width: 200px; margin: 0 auto; display: block;}
.socialMediaLinks > li {
  display: inline-block;
  width: 22px;
  height: 20px;
  background-image: url("../../images/slice.png");
  background-repeat: no-repeat;
  text-indent: 100%;
  white-space: no-wrap;
  overflow: hidden;
}
.twitter {
  background-position: 1px 2px;
}

.facebook {
  background-position: -33px 2px;
}

.dribble {
  background-position: -69px 2px;
}

.linkedin {
  background-position: -104px 2px;
}
